@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,cyrillic);
html, body {
  margin: 0;
  padding: 0; }

html {
  min-height: 100%;
  position: relative; }

body {
  margin-bottom: 61px;
  font-family: "Open Sans", sans-serif;
  color: #727070;
  background: url(../img/bg_main.jpg) no-repeat;
  background-position: top center;
  background-size: cover; }

.window_settings {
  min-width: 992px; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.hidden {
  display: none; }

.opacity0 {
  opacity: 0; }

.unvisible {
  visibility: hidden; }

.pos_static {
  position: static; }

.h100per {
  height: 100%; }

/* Font stylization classes */
.semibold {
  font-weight: 600; }

/* Header styles */
.s_header_content {
  height: 80px;
  line-height: 80px;
  background: url(../img/bg_head.jpg);
  text-align: right;
  position: relative; }

.logo_wrap {
  text-align: left;
  width: 210px;
  float: left; }

.logo_wrap img {
  vertical-align: middle;
  margin-left: 109px;
  max-height: 74px; }

.icon_box {
  width: 38px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/icons.png) no-repeat;
  padding-left: 10px; }

.last_icon_box {
  margin-right: 100px; }

.icon_fb {
  background-position: 0 0; }

.icon_fb:hover {
  background-position: 0 -40px; }

.icon_vk {
  background-position: 0 -240px; }

.icon_vk:hover {
  background-position: 0 -280px; }

.icon_twitter {
  background-position: 0 -160px; }

.icon_twitter:hover {
  background-position: 0 -200px; }

.icon_github {
  background-position: 0 -80px; }

.icon_github:hover {
  background-position: 0 -120px; }

.s_header_underline {
  height: 10px;
  background: url(../img/bg_divider.png) repeat-x;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }

.menu_button_box {
  position: absolute;
  height: 100%;
  width: 110px;
  top: 0;
  right: 0;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
  display: none; }

.menu_button {
  cursor: pointer; }

.triangel_arrow {
  position: absolute;
  background-image: url(../img/triang_arrow.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 22px;
  left: 40px;
  top: 55px; }

.s_nav_in_header {
  position: absolute;
  right: 13px;
  top: 76px; }

.s_nav_ul_in_header {
  padding: 0;
  margin: 0;
  width: 196px;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px; }

.s_nav_li_in_header {
  height: 43px;
  line-height: 43px;
  vertical-align: middle;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 0px 1px 0px #e5e5ee;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  list-style-type: none;
  text-align: left;
  background-clip: border-box;
  background: #f0eeed;
  background: -moz-linear-gradient(top, #fbfafa 0%, #e5e3e2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfafa), color-stop(100%, #e5e3e2));
  background: -webkit-linear-gradient(top, #fbfafa 0%, #e5e3e2 100%);
  background: -o-linear-gradient(top, #fbfafa 0%, #e5e3e2 100%);
  background: -ms-linear-gradient(top, #fbfafa 0%, #e5e3e2 100%);
  background: linear-gradient(to bottom, #fbfafa 0%, #e5e3e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfafa', endColorstr='#e5e3e2',GradientType=0 ); }

.s_nav_li_in_header:hover {
  background: #d5d3d3;
  background: -moz-linear-gradient(top, #e8e7e7 0%, #c1bfbf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e7e7), color-stop(100%, #c1bfbf));
  background: -webkit-linear-gradient(top, #e8e7e7 0%, #c1bfbf 100%);
  background: -o-linear-gradient(top, #e8e7e7 0%, #c1bfbf 100%);
  background: -ms-linear-gradient(top, #e8e7e7 0%, #c1bfbf 100%);
  background: linear-gradient(to bottom, #e8e7e7 0%, #c1bfbf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e7e7', endColorstr='#c1bfbf',GradientType=0 ); }

.s_nav_li_in_header.s_nav_li_active {
  background: #5dceb2;
  background: -moz-linear-gradient(top, #7ce7cd 0%, #40b89a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7ce7cd), color-stop(100%, #40b89a));
  background: -webkit-linear-gradient(top, #7ce7cd 0%, #40b89a 100%);
  background: -o-linear-gradient(top, #7ce7cd 0%, #40b89a 100%);
  background: -ms-linear-gradient(top, #7ce7cd 0%, #40b89a 100%);
  background: linear-gradient(to bottom, #7ce7cd 0%, #40b89a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ce7cd', endColorstr='#40b89a',GradientType=0 ); }

.s_nav_in_header a {
  text-decoration: none;
  color: inherit;
  display: block; }

/* Page styles */
.inner_page_wrap {
  width: 992px;
  margin: auto; }

.nav_adress_wrap {
  float: left;
  width: 250px;
  margin: 36px 16px; }

.nav_adress_wrap ul {
  list-style-type: none; }

.s_nav {
  margin-bottom: 34px; }

.s_nav_ul {
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px; }

.s_nav_li {
  height: 57px;
  line-height: 57px;
  vertical-align: middle;
  padding-left: 30px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0px 1px 0px #e5e5ee;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-clip: border-box;
  background: #f0eeed;
  background: -moz-linear-gradient(top, #fbfafa 0%, #e5e3e2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfafa), color-stop(100%, #e5e3e2));
  background: -webkit-linear-gradient(top, #fbfafa 0%, #e5e3e2 100%);
  background: -o-linear-gradient(top, #fbfafa 0%, #e5e3e2 100%);
  background: -ms-linear-gradient(top, #fbfafa 0%, #e5e3e2 100%);
  background: linear-gradient(to bottom, #fbfafa 0%, #e5e3e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfafa', endColorstr='#e5e3e2',GradientType=0 ); }

.s_nav_li:hover {
  background: #d5d3d3;
  background: -moz-linear-gradient(top, #e8e7e7 0%, #c1bfbf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e7e7), color-stop(100%, #c1bfbf));
  background: -webkit-linear-gradient(top, #e8e7e7 0%, #c1bfbf 100%);
  background: -o-linear-gradient(top, #e8e7e7 0%, #c1bfbf 100%);
  background: -ms-linear-gradient(top, #e8e7e7 0%, #c1bfbf 100%);
  background: linear-gradient(to bottom, #e8e7e7 0%, #c1bfbf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e7e7', endColorstr='#c1bfbf',GradientType=0 ); }

.s_nav_li.s_nav_li_active {
  background: #5dceb2;
  background: -moz-linear-gradient(top, #7ce7cd 0%, #40b89a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7ce7cd), color-stop(100%, #40b89a));
  background: -webkit-linear-gradient(top, #7ce7cd 0%, #40b89a 100%);
  background: -o-linear-gradient(top, #7ce7cd 0%, #40b89a 100%);
  background: -ms-linear-gradient(top, #7ce7cd 0%, #40b89a 100%);
  background: linear-gradient(to bottom, #7ce7cd 0%, #40b89a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ce7cd', endColorstr='#40b89a',GradientType=0 ); }

.s_nav_li_first {
  border-radius: 5px 5px 0 0; }

.s_nav_li_last {
  border-radius: 0 0 5px 5px; }

.s_nav a {
  text-decoration: none;
  color: inherit;
  display: block; }

.s_adress {
  display: block; }

.s_adress_ul {
  padding: 0;
  margin: 0;
  border-radius: 5px; }

.s_adress_li {
  box-sizing: border-box;
  background-clip: border-box; }

.s_adress_link_box {
  display: block;
  color: inherit;
  text-decoration: none; }

.s_adress_li_header {
  background: #e8bf6e;
  background: -moz-linear-gradient(top, #f4ce82 0%, #deb461 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4ce82), color-stop(100%, #deb461));
  background: -webkit-linear-gradient(top, #f4ce82 0%, #deb461 100%);
  background: -o-linear-gradient(top, #f4ce82 0%, #deb461 100%);
  background: -ms-linear-gradient(top, #f4ce82 0%, #deb461 100%);
  background: linear-gradient(to bottom, #f4ce82 0%, #deb461 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4ce82', endColorstr='#deb461',GradientType=0 );
  height: 43px;
  line-height: 43px;
  padding-left: 30px;
  color: #d0982c;
  font-size: 19px;
  font-weight: 600;
  text-shadow: 0px 1px 0px #e5e5ee, 0px -1px 0px #a2a0a0;
  border-radius: 5px 5px 0 0;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  border-right: 2px solid rgba(0, 0, 0, 0.1); }

.s_adress_li_item {
  background-image: #f9f9f8;
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f6f5f5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f6f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f6f5f5 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f6f5f5 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #f6f5f5 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f6f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f5f5',GradientType=0 );
  height: 37px;
  line-height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  display: block;
  cursor: pointer; }

.s_adress_li_text {
  padding-left: 96px; }

.s_adress_li_item_mail {
  background-image: url(../img/arrow_mail.png);
  background-repeat: no-repeat;
  background-position: left center;
  height: 100%;
  width: 96px;
  float: left; }

.s_adress_li_item_phone {
  background-image: url(../img/arrow_phone.png);
  background-repeat: no-repeat;
  background-position: left center;
  height: 100%;
  width: 96px;
  float: left; }

.s_adress_li_item_skype {
  background-image: url(../img/arrow_skype.png);
  background-repeat: no-repeat;
  background-position: left center;
  height: 100%;
  width: 96px;
  float: left; }

.s_adress_li_item:hover {
  background: #f7f0e2;
  background: -moz-linear-gradient(top, #ffffff 0%, #f3e8d4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f3e8d4));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f3e8d4 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f3e8d4 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f3e8d4 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f3e8d4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3e8d4',GradientType=0 ); }

.s_adress_li_item:hover .s_adress_li_text {
  text-decoration: underline; }

.s_adress_li_item_last {
  border-radius: 0 0 5px 5px; }

.bottom_s_adress {
  display: none; }

.main_wrap {
  float: right;
  margin: 36px 16px;
  width: 650px; }

.content_section {
  border-radius: 5px;
  margin-bottom: 36px;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1); }

.contert_section_header {
  text-shadow: 0 1px 0 rgba(101, 101, 101, 0.9);
  padding-left: 42px;
  font-size: 24px;
  font-weight: 600;
  color: #eeedec;
  line-height: 54px;
  height: 56px;
  border-radius: 5px 5px 0 0;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  background: #9c9c9c;
  background: -moz-linear-gradient(top, #9c9c9c 0%, #7c7979 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9c9c9c), color-stop(100%, #7c7979));
  background: -webkit-linear-gradient(top, #9c9c9c 0%, #7c7979 100%);
  background: -o-linear-gradient(top, #9c9c9c 0%, #7c7979 100%);
  background: -ms-linear-gradient(top, #9c9c9c 0%, #7c7979 100%);
  background: linear-gradient(to bottom, #9c9c9c 0%, #7c7979 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c9c9c', endColorstr='#7c7979',GradientType=0 ); }

.content_section_contentbox {
  background: #efefef;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 18px;
  padding-bottom: 18px; }

.about_me_item {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0; }

.photo_box {
  float: left; }

.photo_frame {
  width: 154px;
  height: 154px;
  background: #f6f5f5;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  text-align: center;
  line-height: 152px; }

.photo_wrapper {
  overflow: hidden;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle; }

.my_photo {
  margin: 0;
  padding: 0;
  border: none; }

.about_me_info_box {
  margin-left: 192px; }

.about_me_info {
  margin-top: 0;
  margin-bottom: 11px;
  font-size: 14px; }

.about_me_info_last {
  margin-bottom: 22px; }

.tags_table {
  font-size: 14px;
  display: table; }

.tags_table_row {
  display: table-row; }

.tags_table_cell {
  display: table-cell; }

.tags_table ul {
  margin: 0;
  padding: 0; }

.tags_header {
  padding-right: 15px;
  width: 140px;
  vertical-align: top; }

.tag {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 600;
  color: #1e7465;
  font-size: 11px;
  text-transform: uppercase;
  padding-left: 7px;
  padding-right: 5px;
  margin-right: 12px;
  border-radius: 0 6px 6px 0;
  line-height: 20px;
  display: inline-block;
  position: relative;
  border-left: 0;
  margin-bottom: 7px;
  white-space: nowrap;
  background: #f8f8f8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
  background: linear-gradient(to bottom, #f8f8f8 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e0e0e0',GradientType=0 ); }

.tag:before {
  content: url(../img/tag_point.png);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 14px;
  height: 14px;
  position: absolute;
  top: 2px;
  left: -7px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.personal_info_item {
  margin-right: 12px;
  margin-left: 12px;
  border-bottom: 1px solid #dbdbda;
  border-top: 1px solid #fff;
  padding-top: 18px;
  padding-bottom: 18px; }

.personal_info_item_first {
  border-top: none; }

.personal_info_item_last {
  border-bottom: none; }

.personal_info_item_content_box {
  float: left;
  padding-left: 40px;
  font-size: 14px;
  padding-top: 5px;
  max-width: 445px; }

.personal_info_item_content_box p {
  margin: 0;
  margin-bottom: 3px; }

.item_img_frame {
  float: left;
  width: 56px;
  height: 56px;
  background: #cfcfcf;
  background: -moz-linear-gradient(-45deg, #cfcfcf 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #cfcfcf), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(-45deg, #cfcfcf 0%, #ffffff 100%);
  background: -o-linear-gradient(-45deg, #cfcfcf 0%, #ffffff 100%);
  background: -ms-linear-gradient(-45deg, #cfcfcf 0%, #ffffff 100%);
  background: linear-gradient(135deg, #cfcfcf 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#ffffff',GradientType=1 );
  border-radius: 50%;
  position: relative; }

.item_img_box {
  width: 54px;
  height: 54px;
  line-height: 54px;
  background: #f7f7f7;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  text-align: center; }

.item_img_box img {
  vertical-align: middle; }

.item_img_box_bag {
  display: inline-block;
  background: url(../img/portfolio.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 19px;
  vertical-align: middle; }

.item_img_box_note {
  display: inline-block;
  background: url(../img/note.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  vertical-align: middle; }

.item_img_box_hat {
  display: inline-block;
  background: url(../img/hat.png);
  background-repeat: no-repeat;
  width: 27px;
  height: 18px;
  vertical-align: middle; }

.item_img_box_file {
  display: inline-block;
  background: url(../img/file.png);
  background-repeat: no-repeat;
  width: 15px;
  height: 20px;
  vertical-align: middle; }

/* Portfolio page styles */
.my_work_box {
  width: 165px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 22px;
  vertical-align: top;
  overflow: hidden; }

.portfolio_box {
  padding-top: 21px;
  padding-bottom: 50px; }

.my_work_img_box {
  margin: 0;
  padding: 0;
  line-height: 0;
  height: 118px;
  overflow: hidden;
  border-radius: 7px 7px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative; }

.my_work_img_box_hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  bottom: -120px;
  border-radius: 7px 7px 0 0;
  transition: 0.2s all; }

.my_work_img_box:hover .my_work_img_box_hover {
  bottom: 0;
  transition: 0.2s all; }

.my_work_more_info {
  width: 81px;
  text-align: center;
  line-height: 22px;
  height: 22px;
  margin-top: 48px;
  background: #f2f1f0;
  position: absolute;
  color: #343434;
  border-radius: 5px;
  right: -82px;
  transition: 0s all 0.2s;
  font-size: 11px;
  cursor: pointer; }

.my_work_img_box:hover .my_work_more_info {
  right: 42px;
  transition: 0.1s all ease-in 0.2s; }

.my_work_img {
  margin: 0;
  padding: 0;
  z-index: 1; }

.my_work_header {
  background: #e2e2e2;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 600; }

.my_work_descr {
  font-size: 13px;
  vertical-align: middle;
  text-align: center;
  line-height: 20px;
  margin: 10px 7px;
  border-radius: 0 0 7px 7px; }

.add_project_box {
  width: 165px;
  height: 133px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 22px;
  vertical-align: top;
  cursor: pointer;
  background: #faf9f9;
  background: -moz-linear-gradient(top, #faf9f9 0%, #e9e7e6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #faf9f9), color-stop(100%, #e9e7e6));
  background: -webkit-linear-gradient(top, #faf9f9 0%, #e9e7e6 100%);
  background: -o-linear-gradient(top, #faf9f9 0%, #e9e7e6 100%);
  background: -ms-linear-gradient(top, #faf9f9 0%, #e9e7e6 100%);
  background: linear-gradient(to bottom, #faf9f9 0%, #e9e7e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf9f9', endColorstr='#e9e7e6',GradientType=0 ); }

.add_project_box:hover {
  background: #e8e7e7;
  background: -moz-linear-gradient(top, #e8e7e7 0%, #c0bebe 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e7e7), color-stop(100%, #c0bebe));
  background: -webkit-linear-gradient(top, #e8e7e7 0%, #c0bebe 100%);
  background: -o-linear-gradient(top, #e8e7e7 0%, #c0bebe 100%);
  background: -ms-linear-gradient(top, #e8e7e7 0%, #c0bebe 100%);
  background: linear-gradient(to bottom, #e8e7e7 0%, #c0bebe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e7e7', endColorstr='#c0bebe',GradientType=0 ); }

.add_project_box:hover .add_proj_img_frame {
  background: #757575;
  background: -moz-linear-gradient(-45deg, #757575 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #757575), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(-45deg, #757575 0%, #ffffff 100%);
  background: -o-linear-gradient(-45deg, #757575 0%, #ffffff 100%);
  background: -ms-linear-gradient(-45deg, #757575 0%, #ffffff 100%);
  background: linear-gradient(135deg, #757575 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757575', endColorstr='#ffffff',GradientType=1 ); }

.add_project_box:hover .add_proj_img_box {
  background: #d7d7d7; }

.add_proj_img_frame {
  width: 56px;
  height: 56px;
  margin: 20px auto 8px;
  background: #cfcfcf;
  background: -moz-linear-gradient(-45deg, #cfcfcf 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #cfcfcf), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(-45deg, #cfcfcf 0%, #ffffff 100%);
  background: -o-linear-gradient(-45deg, #cfcfcf 0%, #ffffff 100%);
  background: -ms-linear-gradient(-45deg, #cfcfcf 0%, #ffffff 100%);
  background: linear-gradient(135deg, #cfcfcf 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#ffffff',GradientType=1 );
  border-radius: 50%;
  position: relative; }

.add_proj_img_box {
  width: 54px;
  height: 54px;
  line-height: 54px;
  background: #f7f7f7;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  text-align: center; }

.add_proj_img_box img {
  vertical-align: middle; }

.add_project_header {
  line-height: 32px;
  width: 165px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-top: 4px;
  text-shadow: 0px 1px 0px #e5e5ee; }

/*  Add project popup styles  */
.project_popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6); }

.sucsess_window {
  width: 364px;
  min-height: 70px;
  top: 50%;
  left: 50%;
  margin-left: -183px;
  margin-top: -35px;
  padding: 16px 19px 12px;
  position: absolute;
  background: #fafaf9;
  background: -moz-linear-gradient(top, #fafaf9 0%, #f0eeed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafaf9), color-stop(100%, #f0eeed));
  background: -webkit-linear-gradient(top, #fafaf9 0%, #f0eeed 100%);
  background: -o-linear-gradient(top, #fafaf9 0%, #f0eeed 100%);
  background: -ms-linear-gradient(top, #fafaf9 0%, #f0eeed 100%);
  background: linear-gradient(to bottom, #fafaf9 0%, #f0eeed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafaf9', endColorstr='#f0eeed',GradientType=0 );
  border-radius: 7px;
  border: 1px solid #d2d2d2;
  box-shadow: 0 18px 13px -13px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 100; }

.sucsess_message {
  border: 1px solid #49bb7b;
  background: #bce1cb;
  border-radius: 6px;
  padding-top: 6px;
  padding-bottom: 5px;
  margin-bottom: 10px; }

.sucsess_message p {
  margin: 0;
  padding-left: 10px;
  padding-bottom: 3px;
  color: #49bb7b; }

.add_proj_sucsess_header {
  font-weight: 600;
  font-size: 16px; }

.add_proj_sucsess_text {
  font-size: 14px; }

.sucsess_window_close_box {
  text-align: right;
  margin: 7px 0 1px;
  position: relative; }

.sucsess_window_close_x {
  cursor: pointer;
  padding: 2px 9px;
  font-weight: 700;
  position: absolute;
  right: -22px;
  top: -22px; }

.project_window {
  width: 364px;
  min-height: 465px;
  top: 50%;
  left: 50%;
  margin-left: -183px;
  margin-top: -233px;
  padding: 25px 19px 0;
  position: absolute;
  background: #fafaf9;
  background: -moz-linear-gradient(top, #fafaf9 0%, #f0eeed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafaf9), color-stop(100%, #f0eeed));
  background: -webkit-linear-gradient(top, #fafaf9 0%, #f0eeed 100%);
  background: -o-linear-gradient(top, #fafaf9 0%, #f0eeed 100%);
  background: -ms-linear-gradient(top, #fafaf9 0%, #f0eeed 100%);
  background: linear-gradient(to bottom, #fafaf9 0%, #f0eeed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafaf9', endColorstr='#f0eeed',GradientType=0 );
  border-radius: 7px;
  border: 1px solid #d2d2d2;
  box-shadow: 0 18px 13px -13px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; }

.add_proj_error {
  border: 1px solid #cb6945;
  background: #e9c8bc;
  border-radius: 6px;
  padding-top: 6px;
  padding-bottom: 5px;
  margin-bottom: 10px; }

.add_proj_error_header {
  font-weight: 600;
  font-size: 16px; }

.add_proj_error_text {
  font-size: 14px; }

.add_proj_error p {
  margin: 0;
  padding-left: 10px;
  padding-bottom: 3px;
  color: #cb6945; }

.project_window_close_box {
  text-align: right;
  margin: 7px 0 1px;
  position: relative; }

.addproject_miniheader {
  position: absolute;
  left: 0px;
  font-size: 12px;
  top: -54px;
  color: #f8f7f6; }

.project_window_close_x {
  cursor: pointer;
  padding: 2px 9px;
  font-weight: 600;
  position: absolute;
  right: -9px;
  top: -25px; }

.add_project_item_header {
  margin: 0 0 6px 0;
  font-size: 14px; }

.addproject_field_box {
  margin-bottom: 6px;
  position: relative; }

.add_proj_file_button {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 43px;
  width: 55px;
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0;
  border: 1px solid #d6d5d3;
  background-image: url(../img/cloud.png), url(../img/bg_cloud.png);
  background-repeat: no-repeat, repeat-x;
  background-position: 15px 12px, 0 0; }

.addproj_tooltip {
  position: absolute;
  z-index: 1;
  font-size: 11px;
  font-weight: 600;
  text-align: right;
  width: 100%;
  top: 50%;
  margin-top: -9px;
  display: inline-block;
  left: -335px; }

.add_proj_text_input {
  border: 1px solid #d6d5d3;
  border-radius: 5px;
  font-size: 12px;
  width: 100%;
  height: 43px;
  line-height: 43px;
  display: block;
  padding-left: 12px;
  box-sizing: border-box;
  position: relative; }

.fileupload {
  border: none;
  clip: rect(0 0 0 0);
  height: 0px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0px; }

/* .add_proj_text_input:focus
 * border: 1px solid #dfab97
 * outline: #dfab97 auto 5px */
.add_proj_textarea {
  border: 1px solid #d6d5d3;
  border-radius: 5px;
  font-size: 12px;
  width: 100%;
  display: block;
  padding-left: 12px;
  padding-top: 14px;
  box-sizing: border-box;
  resize: none;
  position: relative; }

/* .add_proj_textarea:focus
 * border: 1px solid #dfab97
 * outline: #dfab97 auto 5px */
.add_project_button_input {
  background: #7fe8cb;
  background: -moz-linear-gradient(top, #7fe8cb 0%, #45b998 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fe8cb), color-stop(100%, #45b998));
  background: -webkit-linear-gradient(top, #7fe8cb 0%, #45b998 100%);
  background: -o-linear-gradient(top, #7fe8cb 0%, #45b998 100%);
  background: -ms-linear-gradient(top, #7fe8cb 0%, #45b998 100%);
  background: linear-gradient(to bottom, #7fe8cb 0%, #45b998 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fe8cb', endColorstr='#45b998',GradientType=0 );
  margin: 20px auto 0;
  display: block;
  color: #227464;
  font-size: 14px;
  font-weight: 600;
  width: 150px;
  height: 38px;
  text-shadow: 0px 1px 0px #e5e5ee;
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: none;
  margin-bottom: 20px; }

.add_project_button_input:active {
  color: #14342b;
  text-shadow: 0px 1px 0px #a2a2a2;
  background: #399f82;
  background: -moz-linear-gradient(top, #399f82 0%, #36977b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #399f82), color-stop(100%, #36977b));
  background: -webkit-linear-gradient(top, #399f82 0%, #36977b 100%);
  background: -o-linear-gradient(top, #399f82 0%, #36977b 100%);
  background: -ms-linear-gradient(top, #399f82 0%, #36977b 100%);
  background: linear-gradient(to bottom, #399f82 0%, #36977b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#399f82', endColorstr='#36977b',GradientType=0 ); }

/* Authorize window */
.authorize_popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10; }

.authorize_window {
  width: 332px;
  height: 270px;
  top: 50%;
  left: 50%;
  margin-left: -166px;
  margin-top: -150px;
  position: absolute;
  background: #fafaf9;
  background: -moz-linear-gradient(top, #fafaf9 0%, #f0eeed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafaf9), color-stop(100%, #f0eeed));
  background: -webkit-linear-gradient(top, #fafaf9 0%, #f0eeed 100%);
  background: -o-linear-gradient(top, #fafaf9 0%, #f0eeed 100%);
  background: -ms-linear-gradient(top, #fafaf9 0%, #f0eeed 100%);
  background: linear-gradient(to bottom, #fafaf9 0%, #f0eeed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafaf9', endColorstr='#f0eeed',GradientType=0 );
  border-radius: 7px;
  border: 1px solid #d2d2d2;
  box-shadow: 0 18px 13px -13px rgba(0, 0, 0, 0.1); }

.authorize_window_close_box {
  text-align: right;
  margin: 7px 0;
  position: relative; }

.authorize_miniheader {
  position: absolute;
  left: 23px;
  font-size: 12px;
  top: -29px; }

.authorize_window_close_x {
  cursor: pointer;
  padding: 2px 9px;
  font-weight: 600; }

.authorize_text_input {
  border: 1px solid #d6d5d3;
  border-radius: 5px;
  font-size: 12px;
  width: 182px;
  display: block;
  margin: 0 auto 24px;
  line-height: 36px;
  height: 36px;
  padding-left: 70px; }

.authorize_checkbox_input_box {
  padding-left: 40px;
  margin: 16px 0 20px;
  vertical-align: middle; }

.authorize_checkbox_input {
  background: white; }

.authorize_checkbox_input_text {
  padding-left: 10px;
  font-size: 14px; }

.authorize_button_input {
  background: #7fe8cb;
  background: -moz-linear-gradient(top, #7fe8cb 0%, #45b998 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fe8cb), color-stop(100%, #45b998));
  background: -webkit-linear-gradient(top, #7fe8cb 0%, #45b998 100%);
  background: -o-linear-gradient(top, #7fe8cb 0%, #45b998 100%);
  background: -ms-linear-gradient(top, #7fe8cb 0%, #45b998 100%);
  background: linear-gradient(to bottom, #7fe8cb 0%, #45b998 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fe8cb', endColorstr='#45b998',GradientType=0 );
  margin: 0 auto;
  display: block;
  color: #227464;
  font-size: 14px;
  font-weight: 600;
  width: 150px;
  height: 38px;
  text-shadow: 0px 1px 0px #e5e5ee;
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: none; }

.authorize_button_input:active {
  color: #14342b;
  text-shadow: 0px 1px 0px #a2a2a2;
  background: #399f82;
  background: -moz-linear-gradient(top, #399f82 0%, #36977b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #399f82), color-stop(100%, #36977b));
  background: -webkit-linear-gradient(top, #399f82 0%, #36977b 100%);
  background: -o-linear-gradient(top, #399f82 0%, #36977b 100%);
  background: -ms-linear-gradient(top, #399f82 0%, #36977b 100%);
  background: linear-gradient(to bottom, #399f82 0%, #36977b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#399f82', endColorstr='#36977b',GradientType=0 ); }

.authorize_text_input_email {
  background-image: url(../img/email.png);
  background-repeat: no-repeat;
  background-position: left center; }

.authorize_text_input_pass {
  background-image: url(../img/key.png);
  background-repeat: no-repeat;
  background-position: left center; }

/* Contacts section styles */
.contacts_wrap {
  min-height: 100px;
  width: 402px;
  margin: 15px auto 70px; }

.name_and_email_wrap {
  margin-bottom: 13px; }

.name_wrap {
  float: left;
  width: 47%; }

.email_wrap {
  float: right;
  width: 47%; }

.name_email_input {
  display: block;
  line-height: 39px;
  height: 39px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  padding-left: 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fbfcfd;
  background: -moz-linear-gradient(top, #fbfcfd 0%, #f4f3f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfcfd), color-stop(100%, #f4f3f4));
  background: -webkit-linear-gradient(top, #fbfcfd 0%, #f4f3f4 100%);
  background: -o-linear-gradient(top, #fbfcfd 0%, #f4f3f4 100%);
  background: -ms-linear-gradient(top, #fbfcfd 0%, #f4f3f4 100%);
  background: linear-gradient(to bottom, #fbfcfd 0%, #f4f3f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfcfd', endColorstr='#f4f3f4',GradientType=0 ); }

.contacts_item_header {
  margin: 0 0 7px 0;
  font-size: 14px; }

.message_textarea {
  font-size: 12px;
  border-radius: 4px;
  display: block;
  padding-top: 9px;
  width: 100%;
  resize: none;
  box-sizing: border-box;
  margin-bottom: 13px;
  background: #fbfcfd;
  background: -moz-linear-gradient(top, #fbfcfd 0%, #f4f3f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfcfd), color-stop(100%, #f4f3f4));
  background: -webkit-linear-gradient(top, #fbfcfd 0%, #f4f3f4 100%);
  background: -o-linear-gradient(top, #fbfcfd 0%, #f4f3f4 100%);
  background: -ms-linear-gradient(top, #fbfcfd 0%, #f4f3f4 100%);
  background: linear-gradient(to bottom, #fbfcfd 0%, #f4f3f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfcfd', endColorstr='#f4f3f4',GradientType=0 );
  padding-left: 7px;
  border: 1px solid rgba(0, 0, 0, 0.2); }

.capcha_box {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: 78px;
  text-align: center;
  padding-top: 27px;
  box-sizing: border-box; }

.code_input {
  margin-top: 19px;
  display: block;
  line-height: 31px;
  height: 31px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  padding-left: 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fbfcfd;
  background: -moz-linear-gradient(top, #fbfcfd 0%, #f4f3f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfcfd), color-stop(100%, #f4f3f4));
  background: -webkit-linear-gradient(top, #fbfcfd 0%, #f4f3f4 100%);
  background: -o-linear-gradient(top, #fbfcfd 0%, #f4f3f4 100%);
  background: -ms-linear-gradient(top, #fbfcfd 0%, #f4f3f4 100%);
  background: linear-gradient(to bottom, #fbfcfd 0%, #f4f3f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfcfd', endColorstr='#f4f3f4',GradientType=0 ); }

.contacts_button_input {
  margin: 0 auto;
  display: block;
  font-size: 14px;
  font-weight: 600;
  width: 123px;
  height: 38px;
  text-shadow: 0px 1px 0px #e5e5ee;
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: none; }

.colored_green_button {
  background: #7fe8cb;
  background: -moz-linear-gradient(top, #7fe8cb 0%, #45b998 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fe8cb), color-stop(100%, #45b998));
  background: -webkit-linear-gradient(top, #7fe8cb 0%, #45b998 100%);
  background: -o-linear-gradient(top, #7fe8cb 0%, #45b998 100%);
  background: -ms-linear-gradient(top, #7fe8cb 0%, #45b998 100%);
  background: linear-gradient(to bottom, #7fe8cb 0%, #45b998 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fe8cb', endColorstr='#45b998',GradientType=0 );
  color: #227464; }

.colored_green_button:active {
  color: #14342b;
  text-shadow: 0px 1px 0px #a2a2a2;
  background: #399f82;
  background: -moz-linear-gradient(top, #399f82 0%, #36977b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #399f82), color-stop(100%, #36977b));
  background: -webkit-linear-gradient(top, #399f82 0%, #36977b 100%);
  background: -o-linear-gradient(top, #399f82 0%, #36977b 100%);
  background: -ms-linear-gradient(top, #399f82 0%, #36977b 100%);
  background: linear-gradient(to bottom, #399f82 0%, #36977b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#399f82', endColorstr='#36977b',GradientType=0 ); }

.colored_light_button {
  background: #faf9f9;
  background: -moz-linear-gradient(top, #faf9f9 0%, #e5e3e2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #faf9f9), color-stop(100%, #e5e3e2));
  background: -webkit-linear-gradient(top, #faf9f9 0%, #e5e3e2 100%);
  background: -o-linear-gradient(top, #faf9f9 0%, #e5e3e2 100%);
  background: -ms-linear-gradient(top, #faf9f9 0%, #e5e3e2 100%);
  background: linear-gradient(to bottom, #faf9f9 0%, #e5e3e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf9f9', endColorstr='#e5e3e2',GradientType=0 );
  border: 1px solid rgba(0, 0, 0, 0.2); }

.colored_light_button:active {
  background: #e8e7e7;
  background: -moz-linear-gradient(top, #e8e7e7 0%, #bfbdbd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e7e7), color-stop(100%, #bfbdbd));
  background: -webkit-linear-gradient(top, #e8e7e7 0%, #bfbdbd 100%);
  background: -o-linear-gradient(top, #e8e7e7 0%, #bfbdbd 100%);
  background: -ms-linear-gradient(top, #e8e7e7 0%, #bfbdbd 100%);
  background: linear-gradient(to bottom, #e8e7e7 0%, #bfbdbd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e7e7', endColorstr='#bfbdbd',GradientType=0 ); }

/* Footer styles */
.footer {
  height: 61px;
  line-height: 61px;
  background: url(../img/bg_footer.png) repeat-x;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 992px;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1); }

.footer_content {
  height: 61px;
  line-height: 61px;
  width: 992px;
  margin: 0 auto; }

.footer_content * {
  vertical-align: middle; }

.lock_box {
  width: 24px;
  height: 21px;
  display: inline-block;
  background-image: url(../img/lock.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  margin-left: 184px; }

.lock_box:hover {
  background-position: 0 -22px; }

.lock_box.lock_box_active {
  background-position: 0 -22px; }

.lock_text {
  margin-left: 6px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer; }

.footer_text {
  margin-left: 60px;
  font-weight: 300;
  font-size: 14px; }

/* Validation styles (validation in contacts and portfolio forms) */
.addproj_tooltip span {
  padding: 3px 7px 5px 7px;
  text-transform: lowercase;
  border-top: 1px solid #f7c0ad;
  border-bottom: 1px solid #cb6945;
  color: #9c543a;
  text-shadow: 0px 1px 0px #ebb28e, 0px -1px 0px #812300;
  border-radius: 7px;
  background: #f3a58b;
  background: -moz-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3a58b), color-stop(100%, #d67c5a));
  background: -webkit-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -o-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -ms-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: linear-gradient(to bottom, #f3a58b 0%, #d67c5a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3a58b', endColorstr='#d67c5a',GradientType=0 ); }

.addproj_tooltip span:after {
  content: " ";
  background: #e48e70;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 5px;
  right: -4px;
  transform: rotate(45deg); }

#portfolio_form_name-error.error {
  position: absolute;
  z-index: 1;
  font-size: 11px;
  font-weight: 600;
  text-align: right;
  top: 50%;
  margin-top: -12px;
  display: inline-block;
  left: -123px;
  padding: 3px 7px 5px 7px;
  text-transform: lowercase;
  border-top: 1px solid #f7c0ad;
  border-bottom: 1px solid #cb6945;
  color: #9c543a;
  text-shadow: 0px 1px 0px #ebb28e, 0px -1px 0px #812300;
  border-radius: 7px;
  background: #f3a58b;
  background: -moz-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3a58b), color-stop(100%, #d67c5a));
  background: -webkit-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -o-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -ms-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: linear-gradient(to bottom, #f3a58b 0%, #d67c5a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3a58b', endColorstr='#d67c5a',GradientType=0 ); }

#portfolio_form_name-error.error:after {
  content: " ";
  background: #e48e70;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 8px;
  right: -4px;
  transform: rotate(45deg); }

#portfolio_form_url-error.error {
  position: absolute;
  z-index: 1;
  font-size: 11px;
  font-weight: 600;
  text-align: right;
  top: 50%;
  margin-top: -12px;
  display: inline-block;
  left: -112px;
  padding: 3px 7px 5px 7px;
  text-transform: lowercase;
  border-top: 1px solid #f7c0ad;
  border-bottom: 1px solid #cb6945;
  color: #9c543a;
  text-shadow: 0px 1px 0px #ebb28e, 0px -1px 0px #812300;
  border-radius: 7px;
  background: #f3a58b;
  background: -moz-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3a58b), color-stop(100%, #d67c5a));
  background: -webkit-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -o-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -ms-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: linear-gradient(to bottom, #f3a58b 0%, #d67c5a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3a58b', endColorstr='#d67c5a',GradientType=0 ); }

#portfolio_form_url-error.error:after {
  content: " ";
  background: #e48e70;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 8px;
  right: -4px;
  transform: rotate(45deg); }

#portfolio_form_descr-error.error {
  position: absolute;
  z-index: 1;
  font-size: 11px;
  font-weight: 600;
  text-align: right;
  top: 50%;
  margin-top: -12px;
  display: inline-block;
  left: -125px;
  padding: 3px 7px 5px 7px;
  text-transform: lowercase;
  border-top: 1px solid #f7c0ad;
  border-bottom: 1px solid #cb6945;
  color: #9c543a;
  text-shadow: 0px 1px 0px #ebb28e, 0px -1px 0px #812300;
  border-radius: 7px;
  background: #f3a58b;
  background: -moz-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3a58b), color-stop(100%, #d67c5a));
  background: -webkit-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -o-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -ms-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: linear-gradient(to bottom, #f3a58b 0%, #d67c5a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3a58b', endColorstr='#d67c5a',GradientType=0 ); }

#portfolio_form_descr-error.error:after {
  content: " ";
  background: #e48e70;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 8px;
  right: -4px;
  transform: rotate(45deg); }

.contacts_input_wrap {
  position: relative; }

#contacts_form_name-error.error {
  position: absolute;
  z-index: 1;
  font-size: 11px;
  font-weight: 600;
  text-align: right;
  top: 50%;
  margin-top: -14px;
  display: inline-block;
  left: -92px;
  padding: 3px 7px 5px 7px;
  text-transform: lowercase;
  border-top: 1px solid #f7c0ad;
  border-bottom: 1px solid #cb6945;
  color: #9c543a;
  text-shadow: 0px 1px 0px #ebb28e, 0px -1px 0px #812300;
  border-radius: 7px;
  background: #f3a58b;
  background: -moz-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3a58b), color-stop(100%, #d67c5a));
  background: -webkit-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -o-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -ms-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: linear-gradient(to bottom, #f3a58b 0%, #d67c5a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3a58b', endColorstr='#d67c5a',GradientType=0 ); }

#contacts_form_name-error.error:after {
  content: " ";
  background: #e48e70;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 8px;
  right: -4px;
  transform: rotate(45deg); }

#contacts_form_email-error.error {
  position: absolute;
  z-index: 1;
  font-size: 11px;
  font-weight: 600;
  text-align: right;
  top: 50%;
  left: 199px;
  margin-top: -14px;
  display: inline-block;
  padding: 3px 7px 5px 7px;
  text-transform: lowercase;
  border-top: 1px solid #f7c0ad;
  border-bottom: 1px solid #cb6945;
  color: #9c543a;
  text-shadow: 0px 1px 0px #ebb28e, 0px -1px 0px #812300;
  border-radius: 7px;
  background: #f3a58b;
  background: -moz-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3a58b), color-stop(100%, #d67c5a));
  background: -webkit-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -o-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -ms-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: linear-gradient(to bottom, #f3a58b 0%, #d67c5a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3a58b', endColorstr='#d67c5a',GradientType=0 );
  white-space: nowrap; }

#contacts_form_email-error.error:before {
  content: " ";
  background: #e48e70;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 8px;
  left: -4px;
  transform: rotate(45deg); }

#contacts_form_message-error.error {
  position: absolute;
  z-index: 1;
  font-size: 11px;
  font-weight: 600;
  text-align: right;
  top: 50%;
  margin-top: -14px;
  display: inline-block;
  left: -133px;
  padding: 3px 7px 5px 7px;
  text-transform: lowercase;
  border-top: 1px solid #f7c0ad;
  border-bottom: 1px solid #cb6945;
  color: #9c543a;
  text-shadow: 0px 1px 0px #ebb28e, 0px -1px 0px #812300;
  border-radius: 7px;
  background: #f3a58b;
  background: -moz-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3a58b), color-stop(100%, #d67c5a));
  background: -webkit-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -o-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -ms-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: linear-gradient(to bottom, #f3a58b 0%, #d67c5a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3a58b', endColorstr='#d67c5a',GradientType=0 ); }

#contacts_form_message-error.error:after {
  content: " ";
  background: #e48e70;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 8px;
  right: -4px;
  transform: rotate(45deg); }

#contacts_form_capcha-error.error {
  position: absolute;
  z-index: 1;
  font-size: 11px;
  font-weight: 600;
  text-align: right;
  top: 50%;
  left: 199px;
  margin-top: -14px;
  display: inline-block;
  padding: 3px 7px 5px 7px;
  text-transform: lowercase;
  border-top: 1px solid #f7c0ad;
  border-bottom: 1px solid #cb6945;
  color: #9c543a;
  text-shadow: 0px 1px 0px #ebb28e, 0px -1px 0px #812300;
  border-radius: 7px;
  background: #f3a58b;
  background: -moz-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3a58b), color-stop(100%, #d67c5a));
  background: -webkit-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -o-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: -ms-linear-gradient(top, #f3a58b 0%, #d67c5a 100%);
  background: linear-gradient(to bottom, #f3a58b 0%, #d67c5a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3a58b', endColorstr='#d67c5a',GradientType=0 );
  white-space: nowrap; }

#contacts_form_capcha-error.error:before {
  content: " ";
  background: #e48e70;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 8px;
  left: -4px;
  transform: rotate(45deg); }

input.error, textarea.error {
  border: 1px solid #dfab97; }

input.error:focus, textarea.error:focus {
  outline: #dfab97 auto 5px; }

input.valid, textarea.valid {
  border: 1px solid #49BFA2; }

input.valid:focus, textarea.valid {
  outline: #49BFA2 auto 5px; }

/* Media queries */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .window_settings {
    min-width: 769px; }

  .nav_adress_wrap {
    display: none; }

  .main_wrap {
    float: none;
    margin: 36px 16px;
    width: auto; }

  .inner_page_wrap {
    width: auto;
    margin: auto; }

  .footer {
    min-width: 769px; }

  .footer_content {
    width: auto; }

  .lock_box {
    margin-left: 90px; }

  .bottom_s_adress {
    display: block; }

  .s_adress_ul {
    border-radius: 0; }

  .s_adress_li_item {
    float: left;
    width: 33.33333%;
    border-radius: 0; }

  .s_adress_li_item a {
    color: inherit;
    text-decoration: none; }

  .s_adress_li_item_first {
    background-image: #f9f9f8;
    background-image: -moz-linear-gradient(top, #ffffff 0%, #f6f5f5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f6f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #f6f5f5 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #f6f5f5 100%);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #f6f5f5 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #f6f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f5f5',GradientType=0 ); }

  .menu_button_box {
    display: block; } }
/* Small Devices, Tablets */

/*# sourceMappingURL=main.css.map */
