@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,cyrillic);
html, body {
  margin: 0;
  padding: 0; }

html {
  min-height: 100%;
  position: relative; }

body {
  margin-bottom: 61px;
  font-family: "Open Sans", sans-serif;
  color: #727070;
  background: url(../img/bg_main.jpg) no-repeat;
  background-position: top center;
  background-size: cover; }

.window_settings {
  min-width: 992px; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

/* Font stylization classes */
.semibold {
  font-weight: 600; }

/* Header styles */
.s_header_content {
  height: 80px;
  line-height: 80px;
  background: url(../img/bg_head.jpg);
  text-align: right; }

.logo_wrap {
  text-align: left;
  width: 210px;
  float: left; }

.logo_wrap img {
  vertical-align: middle;
  margin-left: 109px;
  max-height: 74px; }

.icon_box {
  width: 38px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/icons.png) no-repeat;
  padding-left: 10px; }

.last_icon_box {
  margin-right: 100px; }

.icon_fb {
  background-position: 0 0; }

.icon_fb:hover {
  background-position: 0 -40px; }

.icon_vk {
  background-position: 0 -240px; }

.icon_vk:hover {
  background-position: 0 -280px; }

.icon_twitter {
  background-position: 0 -160px; }

.icon_twitter:hover {
  background-position: 0 -200px; }

.icon_github {
  background-position: 0 -80px; }

.icon_github:hover {
  background-position: 0 -120px; }

.s_header_underline {
  height: 10px;
  background: url(../img/bg_divider.png) repeat-x;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }

/* Page styles */
.inner_page_wrap {
  width: 992px;
  margin: auto; }

.nav_adress_wrap {
  float: left;
  width: 250px;
  margin: 36px 16px; }

.nav_adress_wrap ul {
  list-style-type: none; }

.s_nav_ul {
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px; }

.s_nav_li {
  height: 57px;
  line-height: 57px;
  vertical-align: middle;
  padding-left: 30px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0px 1px 0px #e5e5ee;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-clip: border-box;
  background: #f0eeed;
  background: -moz-linear-gradient(top, #fbfafa 0%, #e5e3e2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfafa), color-stop(100%, #e5e3e2));
  background: -webkit-linear-gradient(top, #fbfafa 0%, #e5e3e2 100%);
  background: -o-linear-gradient(top, #fbfafa 0%, #e5e3e2 100%);
  background: -ms-linear-gradient(top, #fbfafa 0%, #e5e3e2 100%);
  background: linear-gradient(to bottom, #fbfafa 0%, #e5e3e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfafa', endColorstr='#e5e3e2',GradientType=0 ); }

.s_nav_li:hover {
  background: #d5d3d3;
  background: -moz-linear-gradient(top, #e8e7e7 0%, #c1bfbf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e7e7), color-stop(100%, #c1bfbf));
  background: -webkit-linear-gradient(top, #e8e7e7 0%, #c1bfbf 100%);
  background: -o-linear-gradient(top, #e8e7e7 0%, #c1bfbf 100%);
  background: -ms-linear-gradient(top, #e8e7e7 0%, #c1bfbf 100%);
  background: linear-gradient(to bottom, #e8e7e7 0%, #c1bfbf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e7e7', endColorstr='#c1bfbf',GradientType=0 ); }

.s_nav_li.s_nav_li_active {
  background: #5dceb2;
  background: -moz-linear-gradient(top, #7ce7cd 0%, #40b89a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7ce7cd), color-stop(100%, #40b89a));
  background: -webkit-linear-gradient(top, #7ce7cd 0%, #40b89a 100%);
  background: -o-linear-gradient(top, #7ce7cd 0%, #40b89a 100%);
  background: -ms-linear-gradient(top, #7ce7cd 0%, #40b89a 100%);
  background: linear-gradient(to bottom, #7ce7cd 0%, #40b89a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ce7cd', endColorstr='#40b89a',GradientType=0 ); }

.s_nav_li_first {
  border-radius: 5px 5px 0 0; }

.s_nav_li_last {
  border-radius: 0 0 5px 5px; }

.s_nav a {
  text-decoration: none;
  color: inherit;
  display: block; }

.s_adress {
  margin-top: 34px;
  display: block; }

.s_adress a {
  color: inherit; }

.s_adress_ul {
  padding: 0;
  margin: 0;
  border-radius: 5px; }

.s_adress_li {
  box-sizing: border-box;
  background-clip: border-box; }

.s_adress_li_header {
  background: #e8bf6e;
  background: -moz-linear-gradient(top, #f4ce82 0%, #deb461 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4ce82), color-stop(100%, #deb461));
  background: -webkit-linear-gradient(top, #f4ce82 0%, #deb461 100%);
  background: -o-linear-gradient(top, #f4ce82 0%, #deb461 100%);
  background: -ms-linear-gradient(top, #f4ce82 0%, #deb461 100%);
  background: linear-gradient(to bottom, #f4ce82 0%, #deb461 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4ce82', endColorstr='#deb461',GradientType=0 );
  height: 43px;
  line-height: 43px;
  padding-left: 30px;
  color: #d0982c;
  font-size: 19px;
  font-weight: 600;
  text-shadow: 0px 1px 0px #e5e5ee, 0px -1px 0px #a2a0a0;
  border-radius: 5px 5px 0 0;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  border-right: 2px solid rgba(0, 0, 0, 0.1); }

.s_adress_li_item {
  background-image: #f9f9f8;
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f6f5f5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f6f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f6f5f5 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f6f5f5 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #f6f5f5 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f6f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f5f5',GradientType=0 );
  height: 40px;
  line-height: 38px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px; }

.s_adress_li_item span, .s_adress_li_item a, .s_adress_li_item img {
  display: block;
  float: left; }

.s_adress_li_item img {
  margin-right: 35px; }

.s_adress_li_item_first {
  background: #f7f0e2;
  background: -moz-linear-gradient(top, #ffffff 0%, #f3e8d4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f3e8d4));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f3e8d4 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f3e8d4 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f3e8d4 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f3e8d4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3e8d4',GradientType=0 ); }

.s_adress_li_item_last {
  border-radius: 0 0 5px 5px; }

.main_wrap {
  float: right;
  margin: 36px 16px;
  width: 650px; }

.content_section {
  border-radius: 5px;
  margin-bottom: 36px;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1); }

.contert_section_header {
  text-shadow: 0 1px 0 rgba(101, 101, 101, 0.9);
  padding-left: 42px;
  font-size: 24px;
  font-weight: 600;
  color: #eeedec;
  line-height: 54px;
  height: 56px;
  border-radius: 5px 5px 0 0;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  background: #9c9c9c;
  background: -moz-linear-gradient(top, #9c9c9c 0%, #7c7979 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9c9c9c), color-stop(100%, #7c7979));
  background: -webkit-linear-gradient(top, #9c9c9c 0%, #7c7979 100%);
  background: -o-linear-gradient(top, #9c9c9c 0%, #7c7979 100%);
  background: -ms-linear-gradient(top, #9c9c9c 0%, #7c7979 100%);
  background: linear-gradient(to bottom, #9c9c9c 0%, #7c7979 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c9c9c', endColorstr='#7c7979',GradientType=0 ); }

.content_section_contentbox {
  background: #efefef;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
  padding-left: 50px;
  padding-top: 18px;
  padding-bottom: 18px; }

.about_me_item {
  margin-top: 20px;
  margin-bottom: 20px; }

.photo_box {
  float: left; }

.photo_frame {
  width: 154px;
  height: 154px;
  background: #f6f5f5;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  text-align: center;
  line-height: 152px; }

.my_photo {
  border-radius: 50%;
  vertical-align: middle; }

.about_me_info_box {
  margin-left: 192px;
  padding-right: 25px; }

.about_me_info {
  margin-top: 0;
  margin-bottom: 11px;
  font-size: 14px; }

.tags_table {
  font-size: 14px;
  margin-top: 22px; }

.tags_header {
  padding-right: 15px;
  width: 140px;
  vertical-align: top; }

.tag {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 600;
  color: #1e7465;
  font-size: 11px;
  text-transform: uppercase;
  padding-left: 7px;
  padding-right: 5px;
  margin-right: 12px;
  border-radius: 0 6px 6px 0;
  line-height: 20px;
  display: inline-block;
  position: relative;
  border-left: 0;
  margin-bottom: 7px;
  white-space: nowrap;
  background: #f8f8f8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
  background: linear-gradient(to bottom, #f8f8f8 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e0e0e0',GradientType=0 ); }

.tag:before {
  content: url(../img/tag_point.png);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 14px;
  height: 14px;
  position: absolute;
  top: 2px;
  left: -7px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.personal_info_item {
  margin-right: 50px;
  border-bottom: 1px solid #dbdbda;
  border-top: 1px solid #fff;
  padding-top: 18px;
  padding-bottom: 18px; }

.personal_info_item_first {
  border-top: none; }

.personal_info_item_last {
  border-bottom: none; }

.personal_info_item_content_box {
  float: left;
  padding-left: 40px;
  font-size: 14px;
  padding-top: 5px;
  max-width: 445px; }

.personal_info_item_content_box p {
  margin: 0;
  margin-bottom: 3px; }

.item_img_frame {
  float: left;
  width: 56px;
  height: 56px;
  background: #cfcfcf;
  background: -moz-linear-gradient(-45deg, #cfcfcf 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #cfcfcf), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(-45deg, #cfcfcf 0%, #ffffff 100%);
  background: -o-linear-gradient(-45deg, #cfcfcf 0%, #ffffff 100%);
  background: -ms-linear-gradient(-45deg, #cfcfcf 0%, #ffffff 100%);
  background: linear-gradient(135deg, #cfcfcf 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#ffffff',GradientType=1 );
  border-radius: 50%;
  position: relative; }

.item_img_box {
  width: 54px;
  height: 54px;
  line-height: 54px;
  background: #f7f7f7;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  text-align: center; }

.item_img_box img {
  vertical-align: middle; }

/* Portfolio page classes */
.my_work_box {
  width: 165px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 22px;
  vertical-align: top; }

.my_work_img_box {
  margin: 0;
  padding: 0;
  line-height: 0;
  height: 118px;
  overflow: hidden;
  border-radius: 7px 7px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.my_work_img {
  margin: 0;
  padding: 0; }

.my_work_header {
  background: #e2e2e2;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 600; }

.my_work_descr {
  font-size: 13px;
  vertical-align: middle;
  text-align: center;
  line-height: 20px;
  margin: 10px 7px;
  border-radius: 0 0 7px 7px; }

/* Footer styles */
.footer {
  height: 61px;
  line-height: 61px;
  background: url(../img/bg_footer.png) repeat-x;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 992px;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1); }

.footer_content {
  height: 61px;
  line-height: 61px;
  width: 992px;
  margin: 0 auto; }

.footer_content * {
  vertical-align: middle; }

.lock_box {
  width: 24px;
  height: 21px;
  display: inline-block;
  background-image: url(../img/lock.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  margin-left: 184px; }

.lock_box.lock_box_active {
  background-position: 0 -22px; }

.lock_text {
  margin-left: 6px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px; }

.footer_text {
  margin-left: 60px;
  font-weight: 300;
  font-size: 14px; }

/*# sourceMappingURL=main.css.map */
